@font-face {
    font-family: 'MyFont';
    src: url('./my-font.ttf') format('woff2'),
         url('./my-font-2.ttf') format('woff2');
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: red;
    font-family: 'MyFont';
    font-size: 36px;
    background: url('./icon.png');
}
